/* SFONDO */
.background {
    background: linear-gradient(0deg, rgb(209, 209, 209) 80%, rgba(39,149,123,1) 80%);
}

/* REGOLE GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

.chat-window {
    background-image: url("../boolzapp-data/img/mine.jpg");
    height: calc(100% - 8rem);
    padding: 2rem 4rem 0;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding-left: 0.5rem;
}

li {
    padding: 0.5rem;
}

.contact-panel {
    height: calc(100% - 9rem);
}

.contact-list {
    height: calc(100% - 3rem);
    overflow-y: auto;
}

/* REGOLE MESSAGGI */
.message {
    min-width: 40%;
    max-width: 80%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    position: relative;
}

.message > p {
    margin-bottom: 0;
}

.message > span {
    font-size: 0.5rem;
    color: lightgray;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received {
    background-color: #fdfdfd;
    align-self: flex-start;
}

/* MY CLASSES */
.my-total-heigth {
    height: 100%;
}

.my-3rem-heigth {
    height: 3rem;
}

.my-4rem-heigth {
    height: 4rem;
}

.my-5rem-heigth {
    height: 5rem;
}

.my-bg-light-gray {
    background-color: #eaeaea;
}

.my-profile-size {
    height: 3rem;
    width: 3rem;
}

.my-light-icons > button {
    color: #b1b1b1;
    margin-right: 0.5rem;
    border: none;
    background-color: #eaeaea;
}

.my-fs-secondary {
    font-size: 0.7rem;
}

.my-light-gray {
    color: #b1b1b1;
}