/* SFONDO */
.background {
    background: linear-gradient(0deg, rgb(209, 209, 209) 80%, rgba(39,149,123,1) 80%);
}

/* REGOLE GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

.my-total-heigth {
    height: 100%;
}

.my-bg-light-gray {
    background-color: #eaeaea;
}

.my-profile-pic {
    height: 3rem;
}

.my-light-icons > i {
    color: #b1b1b1;
    margin-right: 1rem;
}

.my-fs-secondary {
    font-size: 0.7rem;
}