<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href="css/debug.css"> -->
        <link rel="stylesheet" href="css/style.css">

        <title>Vue Boolzapp</title>
    </head>
    <body class="debug">
        <div id="app">
            <!-- SFONDO -->
            <div class="background vh-100 w-100 py-3">
                <!-- MAIN CONTAINER -->
                <div class="container-xl my-total-heigth">
                    <div class="row h-100">
                        <!--inizio aside------------------------------------->
                        <aside class="col-4 h-100 p-0"> 
                            <!-- USER BAR -->
                            <header class="p-1 my-4rem-heigth w-100 my-bg-light-gray d-flex justify-content-between align-items-center">
                                <div class="profile-container">
                                    <img src="boolzapp-data/img/avatar_io.jpg" alt="" class="my-profile-size rounded-circle">

                                    <span class="align-middle"><strong>Sofia</strong></span>
                                </div>

                                <div class="my-light-icons d-flex align-items-center">
                                    <button>
                                        <i class="fa-solid fa-circle-notch fa-lg"></i>
                                    </button>

                                    <button>
                                        <i class="fa-solid fa-message fa-lg"></i>
                                    </button>

                                    <button>
                                        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                    </button>
                                </div>
                            </header>

                            <!-- NOTIFICATION BANNER -->
                            <div class="ps-3 bg-info my-5rem-heigth d-flex align-items-center">
                                <div class=" me-3 bg-white rounded-circle my-profile-size d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-bell-slash fa-lg text-info"></i>
                                </div>

                                <div>
                                    <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                                    
                                    <a href="#">Attiva noifiche desktop</a>
                                </div>
                            </div>

                            <!-- CONTACTS -->
                            <section class="contact-panel">
                                <!-- search bar -->
                                <div class="p-1 bg-light my-3rem-heigth">
                                    <div class="input-group">
                                        <span class="input-group-text bg-white border-light" id="basic-addon1">
                                            <i class="fa-solid fa-magnifying-glass my-light-gray"></i>
                                        </span>
                                        <input type="text" class="form-control border-light" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <!-- contact list -->
                                <div class=" contact-list bg-white">
                                    <ul>
                                        <li v-for="(contact, index) in contacts"
                                         v-on:click="currentContact = index"
                                        >
                                            <div class="profile-container d-flex">
                                                <img class="my-profile-size rounded-circle"
                                                 v-bind:src="'boolzapp-data/img/avatar' + contact.avatar + '.jpg'" v-bind:alt="contact.name"
                                                >
                
                                                <div class="ms-3 d-flex flex-column justify-content-start flex-grow-1">
                                                    <span class="my-fs-secondary"><strong>{{ contact.name }}</strong></span>
                                                    
                                                    <span class="text-secondary my-fs-secondary">Ultimo messaggio inviato</span>
                                                </div>

                                                <span class="text-secondary my-fs-secondary">12:00</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </aside>
                        <!--fine aaside-------------------------------------->
                        
                        <!--inizio main-------------------------------------->
                        <main class="col-8 h-100 p-0">
                            <!-- CHAT HEADER BAR -->
                            <header class="p-1 w-100 my-4rem-heigth my-bg-light-gray d-flex justify-content-between align-items-center border-start">
                                <div class="profile-container d-flex">
                                    <!-- DA CORREGGERE LO SPAZIO TRA IL NOME DEL PROFILO E L'ULTIMO ACCESSO -->
                                    <img src="boolzapp-data/img/avatar_1.jpg" alt="" class="my-profile-size rounded-circle">

                                    <div class="ms-3 d-flex flex-column justify-content-center">
                                        <span class="my-fs-secondary"><strong>Michele</strong></span>
                                        
                                        <span class="text-secondary my-fs-secondary">Ultimo accesso: oggi alle 12:00</span>
                                    </div>
                                </div>

                                <div class="my-light-icons d-flex align-items-center">
                                    <button>
                                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                    </button>

                                    <button>
                                        <i class="fa-solid fa-paperclip fa-lg"></i>
                                    </button>

                                    <button>
                                        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                    </button>
                                </div>
                            </header>

                            <!-- SEZIONE SCHERMO CHAT -->
                            <section class="chat-window d-flex flex-column">
                                <div class="message"
                                 v-for="(item, index) in contacts[currentContact].messages"
                                 v-bind:class="(item.status == 'sent')? 'sent' : 'received'"
                                >
                                    <p>{{ item.message }}</p>

                                    <span>15.30</span>
                                </div>
                            </section>

                            <!-- SEZIONE INVIO MESSAGGI -->
                            <section class="chat-input my-4rem-heigth container my-bg-light-gray">
                                <div class="row  p-2 h-100">
                                    <button class="col-1 border-0 rounded my-bg-light-gray text-secondary">
                                        <i class="fa-regular fa-face-smile fa-lg"></i>
                                    </button>
        
                                    <input type="text" placeholder="Scrivi un messaggio" class="col mx-2 border-0 rounded">
        
                                    <button class="col-1 border-0 rounded my-bg-light-gray text-secondary">
                                        <i class="fa-solid fa-microphone fa-lg"></i>
                                    </button>
                                </div>
                            </section>
                        </main>
                        <!--fine main---------------------------------------->
                    </div>
                </div>
            </div>
        </div>

        <!-- COLLEGAMENTO JAVASCRIPT E VUEJS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>